<h1>Register a New Application</h1>
<div class="col-md-8">
  <%= form_for @registered_application do |f| %>
    <div class="form group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', placeholder: "Enter The Name of Your Site" %>
    </div>
    <div class="form group">
      <%= f.label :url %>
      <%= f.text_field :url, class: 'form-control', placeholder: "Enter Your Site URL" %>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-floppy-disk">
          <%= f.submit "Save" %>
        </span>
      </button>
    </div>
  <% end %>