<div class="container-fluid row">
  <div class="col-sm-9">
    <h1><%= @registered_application.name %></h1>
      <small><%= link_to @registered_application.url %></small>
        <%= link_to "Add an Application", new_registered_application_path, class: 'glyphicon glyphicon-pencil' %>
        <%= link_to @registered_application, method: :delete do %>
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        <% end %>
      <div class="col-md-6"> -->
      <br />
        <div class="jumbotron" id="jumbo">
          <%= pie_chart @registered_application.events.group(:event_name).count %>
        </div>
  </div>
</div>